<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
  <title>Audio to text converter</title>
</head>
<body>
  <style>
    html {
      width: 100vw;
      height: 100vh;
    }
  </style>
  <script>
    function startLoading () {
      const btn = document.querySelector('#btn')
      btn.disabled = true
      const spinner = document.querySelector('#spinner')
      spinner.hidden = false
    }
    function onInput (e) {
      e.preventDefault()
      console.log(e.target.files)
    }
  </script>
  <header class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow p-2 mb-4">
    <div class="container">
      <a href="/" class="text-decoration-none">
        <h1 class="text-center">
          <i class="bi bi-vector-pen"></i> Transcriber
        </h1>
      </a>
      {% if session['name'] == null %}
      <a href="/login">
        <button class="btn btn-primary">
          <i class="bi bi-box-arrow-in-right"></i> Log in
        </button>
      </a>
      {% else %}
      <div class="d-flex align-items-center gap-4">
        <a href="/logout">
          <button class="btn btn-primary">
            <i class="bi bi-box-arrow-in-right"></i> Log out
          </button>
        </a>
      </div>
      {% endif %}
    </div>
  </header>
  <main class="p-4">
    {% block content %} {% endblock %}
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
